.btn-pizza {
    background: #D1BA97;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
}

.dark-pizza-color-header {
    color: #D1BA97;
    text-transform: uppercase;
}

.new {
    border: 1px solid black;
}

body {
    margin-top: 70px;
}

.navbar {
    background-color: seashell;
}

h1, h2, h3, h4, h5{
    color: #D1BA97;
}