.btn-pizza {
    background: #D1BA97;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
}

.dark-pizza-color-header {
    color: #D1BA97;
    text-transform: uppercase;
}

.new {
    border: 1px solid black;
}