* {
    box-sizing: border-box;
}

body {
      background-color: black;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      color: white;
}

h1 {
      margin: 5px 0;
}

#wrapper {
      width: 60%;
      margin: auto;
      max-width: 950px;
}

#logo,
nav {
      font-family: "Vladimir Script", "Apple Chancery", fantasy;
}

#content h1 {
      text-align: center;
}

#logo {
      font-size: 4em;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
}

nav {
      font-size: 2.5em;
      font-weight: bold;
      background-color: #001300;
      text-align: center;
      padding: 10px 5px;
}

#Wedding-bell {
      display: flex;
      align-items: center;
      margin: 0 50px;
}

nav a:link {
      color: rgb(255, 215, 53);
      text-decoration: none;
      margin: 0 10px;
}

nav a:visited {
      font-size: 3em;
}

nav a:hover {
      color: #F00;
}

#content {
      padding: 10px;
}

img {
      padding: 10px;
}

#name {
      margin-bottom: 5px;
}

#wedding-planning {
      display: flex;
      align-items: center;
      margin: 0 50px;
}

footer {
      text-align: center;
      background-color: #001300;
}

h3 {
      margin: 0 0 5px 0;
}

h2 {
      text-align: center;
}

.contact {
      width: 50%;
      margin: auto;
}

.hours {
      margin: auto;
}

.skip-to-content-link {
      left: 50%;
      position: absolute;
      transform: translateY(-100%);
}

.visuallyhidden {
      font-size: 0;
      margin: 0;
}