/*  ---------------------------------------------------- */


/* 
Font families
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* CSS HEX
 --charcoal: #264653ff;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff; 
*/


h1 {
    color: #5c1e3b;
    text-shadow: 1px 1px #5c1e3b;
}

h2 {
    color: #5c1e3b;
    text-align: center;
}

#profile-img {
    border-radius: 50%;
    border: 3px solid #5c1e3b;
    max-width: 200px;
    max-height: 200px;
    transform: rotate(3deg);
    transition: transform 300ms;
}

#profile-img:hover {
    transform: scale(1.05);
}

.project-img {
    transition: transform 300ms;
}

.project-img:hover {
    transform: scale(1.03);
}
