body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: black;
}

.wrapper {
    width: 40%;
    margin: auto;
}

h1 {
    text-align: center;
}

#submit,
#update {
    display: inline-flex;   
}

#phoneNumber {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

a:visited {
    color: white;
}

a:hover {
    color: blue;
}

ul {
    list-style-type: none;
}

table, th, td {
    border: 1px solid white;
}

td {
    padding: 3px;
}

table {
    text-align: center;
    margin: auto;
}

.margin-top {
    margin-top: 0px;
}