body {
    background-color: black;
    margin: auto;
    width: 1000px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    display: inline;
    margin: 0 10px;
}

nav {
    margin: auto;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.75rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 33.2px 0 0 0;
    font-family: 'Lemonada', cursive;
}

.bannerimage {
    position: absolute;
    top: -10000px;
    right: 5%;
}

.banner {
    position: relative;
    background-image: url(basketball_logo.png);
    background-repeat: no-repeat;
}

.skip-to-content-link {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
}

.visuallyhidden {
    font-size: 0;
    margin: 0;
}

p {
    width: 70%;
    text-align: center;
    margin: 10px auto;
}

#article1title {
    margin-top: 0px;
}

table,
th,
td {
    border: 1px solid white;
}

table {
    margin: 25px auto 10px;
    width: 50%;
}

th {
    margin: 10px;
}

.textindent {
    text-indent: -10000px;
    margin: 0;
}

img {
    width: 600px;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}