<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lesson 7</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        p {
            min-height: 1em;
        }
    </style>
</head>

<body>
    <h1>Storm Table Converstion</h1>
    <p>Select a file of storms for conversion:</p>
    <p>Storm Table must be in order of Date,Storm,MaximumSustainWinds</p>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" id="file" name="file">
        <input type="submit">
    </form>
    {{{table}}}
</body>

</html>