<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee Page</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="wrapper">
        <h1>Login</h1>
        <h2>Employee page</h2>
        <p>Cookie: {{cookie}}<br>Session: {{session}}</p>
        <p>{{welcome}}</p>
        <form method="POST">
            <p><label for="username">Username:</label>
                <input type="text" id="username" name="username" value="{{username}}">
            </p>
            <p><label for="password">Password:</label>
                <input type="text" id="password" name="password" value="">
                <p>
                    <input type="submit" id="log-in" name="log-in" value="Log In">&nbsp;
                    <input type="submit" id="log-out" name="log-out" value="Log Out">&nbsp;
                    <input type="submit" id="forget-me" name="forget-me" value="Forget Me">&nbsp;
                </p>
        </form>
        <hr>
        {{{table}}}
        <hr>
        <h1>Manage Accounts</h1>
        <form method="POST">
            <p><label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone" required>
            </p>
            <p>
                <input type="submit" id="deleteLogin" name="deleteLogin" value="Delete Account">
                <input type="submit" id="getAccount" name="getAccount" value="Get Account">
            </p>
        </form>
        <form method="POST">
            <input type="submit" id="getAllAccounts" name="getAllAccounts" value="Get All Account Phone Numbers">
        </form>
        <hr>
        <br>
        <h1>Manage Orders</h1>
        <form method="POST">
            <p><label for="orderID">OrderID:</label>
                <input type="text" id="orderID" name="orderID" required>
            </p>
            <p>
                <input type="submit" id="orderDelete" name="orderDelete" value="OrderDelete">
                <input type="submit" id="orderComplete" name="orderComplete" value="OrderComplete">
            </p>
        </form>
        <form method="POST">
            <input type="submit" id="ordersActive" name="ordersActive" value="OrdersActive">
        </form>
        <hr>

        <h1>Create/Update Account</h1>
        <form method="POST">
            <p><label for="username">Username:</label>
                <input type="text" id="username" name="username" value="{{username}}" required>
            </p>
            <p><label for="password">Password:</label>
                <input type="text" id="password" name="password" value="" required>
            </p>
            <p><label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
            </p>
            <p><label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
            </p>
            <p><label for="address">Address:</label>
                <input type="text" id="address" name="address" required>
            </p>
            <p><label for="city">City:</label>
                <input type="text" id="city" name="city" required>
            </p>
            <p><label for="state">State:</label>
                <input type="text" id="state" name="state" maxlength="2" pattern="[A-Za-z]{2}" title="2 letter state"
                    required>
            </p>
            <p><label for="postCode">Postal Code:</label>
                <input type="number" id="postCode" name="postCode" required>
            </p>
            <p><label for="email">Email:</label>
                <input type="email" id="email" name="email" maxlength="40" required>
            </p>
            <p><label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone" required>
            </p>
            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="customer">Customer</option>
            </select><br><br>
            <input type="submit" id="createLogin" name="createLogin" value="Create Account">
            <input type="submit" id="updateLogin" name="updateLogin" value="Update Account">
        </form>

        <br>
        <hr>
        <br>

        <h1>Order Pizza(s) for Customer</h1>
        <form method="POST" id="orderForm">
            <p><label for="phoneOrder">Phone:</label>
                <input type="text" id="phoneOrder" name="phoneOrder" required>
            </p>

            <h3>Sides:</h3>
            <input type="checkbox" id="salad" name="salad" value="True">
            <label for="salad">Salad ($5.99)</label><br>
            <input type="checkbox" id="wings" name="wings" value="True">
            <label for="wings">Wings ($3.99)</label><br>
            <input type="checkbox" id="fries" name="fries" value="True">
            <label for="fries">Fries ($4.99)</label><br>
            <br>

            <h3>Pizza Size:</h3>
            <select id="size" name="size">
                <option value="Small">Small ($5.99)</option>
                <option value="Medium">Medium ($7.99)</option>
                <option value="Large">Large ($9.99)</option>
                <option value="X-Large">X-Large ($12.99)</option>
            </select>

            <h3>Pizza Toppings (+$0.99 per topping):</h3>
            <input type="checkbox" id="pepperoni" name="pepperoni" value="True">
            <label for="pepperoni">Pepperoni</label><br>
            <input type="checkbox" id="bacon" name="bacon" value="True">
            <label for="bacon">Bacon</label><br>
            <input type="checkbox" id="sausage" name="sausage" value="True">
            <label for="sausage">Sausage</label><br>
            <input type="checkbox" id="pineapple" name="pineapple" value="True">
            <label for="pineapple">Pineapple</label><br>
            <input type="checkbox" id="onions" name="onions" value="True">
            <label for="onions">Onions</label><br>
            <input type="checkbox" id="olives" name="olives" value="True">
            <label for="olives">Olives</label><br>
            <input type="checkbox" id="bellpepper" name="bellpepper" value="True">
            <label for="bellpepper">Bell pepper</label><br>
            <input type="checkbox" id="mushrooms" name="mushrooms" value="True">
            <label for="mushrooms">Mushrooms</label><br>

            <h3>Extra Notes:</h3>
            <textarea id="notes" name="notes"></textarea><br>
            <input type="submit" id="order" name="order" value="Order">
        </form>
    </div>

</body>

</html>